<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension-point id="palette" name="palette" schema="schema/com.altran.rental.ui.palette.exsd"/>

   <extension
         id="com.altran.rental.ui.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="com.opcoach.e4.preferences.e4PreferencePages">
      <page
            category="com.altran.rental.ui.page.palettePage"
            class="com.altran.rental.ui.prefs.RentalPrefPage"
            id="com.altran.rental.ui.page"
            name="Default">
      </page>
      <page
            class="com.altran.rental.ui.prefs.PalettePreferencePage"
            id="com.altran.rental.ui.page.palettePage"
            name="Palettes">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.altran.rental.ui.prefs.RentalAbstractPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="com.altran.rental.ui.palette">
      <palette
            id="com.altran.rental.ui.palette1"
            name="Defaullt"
            paletteClass="com.altran.rental.ui.palettes.DefaultPalette">
      </palette>
   </extension>
   <extension
         point="com.altran.rental.ui.palette">
      <palette
            id="com.altran.rental.ui.palette2"
            name="Ugly"
            paletteClass="com.altran.rental.ui.palettes.UglyPalette">
      </palette>
   </extension>

</plugin>
